*:Zone.Identifier
**/*.log
**/log/**
tool/lua-server/log/
/bin/
.cache/
.local/share/nvim/*
!.local/share/nvim/mason
!.local/share/nvim/mason/fixlink.sh
nvim/nvim-settings.json
nvim/plugin/packer_compiled.lua
nvim/addons/nvim-treesitter/parser
